@media screen and (max-width: 900px) {
    #mainContent {
        display: grid;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

    #chooseCredits {
        display: grid;
        padding: 10px;
        max-width: 540px;
        border-radius: 8px;
    }
}
@media screen and (min-width: 899px) {
    #mainContent {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15%;
        margin-top: 10%;
    }

    #chooseCredits {
        background-color: rgb(250, 250, 250);
        display: grid;
        padding: 10px;
        width: 450px;
        border-radius: 8px;
    }
}

#product {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}

#productName {
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    left: 21.5%;
    top: 15%;
    max-width: 40%
}

#price {
    font-size: 25px;
}

#customRange2 {
    width: 70%;
    border-radius: 5px;
}

#lbl {
    font-weight: bold;
    font-size: 20px;
}

#period {
    display: flex;
    align-items: center;
    gap: 10px;
}

#selectPeriod {
    display: grid;
    text-align: center;
}

#showCredit {
    display: flex;
    gap: 50%;
}

#displayCredits {
    display: grid;
    font-weight: bold;
}

#banks {
    font-weight: bold;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30px;
    border-radius: 0px;
    border-top: 1px solid;
    font-family: "Comic Sans MS";
    font-size: 20px;
    max-height: 100px;
}

