#mainContent {
    align-items: center;
    justify-content: center;
}

#chooseCredits {
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
}

@media screen and (max-width: 900px) {
    #mainContent {
        display: grid;
        margin-top: 20px;
    }

    #chooseCredits {
        display: grid;
        max-width: 450px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 899px) {
    #mainContent {
        display: flex;
        gap: 10%;
        margin-top: 10%;
    }

    #chooseCredits {
        display: grid;
        width: 450px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

#product {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}

#productName {
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    left: 21.5%;
    top: 15%;
    max-width: 40%
}

#phoneInfo {
    font-size: 20px;
}

#price {
    font-size: 25px;
}

#customRange2 {
    width: 70%;
    border-radius: 5px;
}

#lbl {
    font-weight: bold;
    font-size: 20px;
}

#period {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#creditSelect {
    width: 110px;
    height: 25px;
    text-align: center;
    font-size: 15px;
}

#selectPeriod {
    display: grid;
    text-align: center;
}

#showCredit {
    display: flex;
    justify-content: center;
    gap: 50%;
}

#displayCredits {
    display: grid;
    font-weight: bold;
    margin-top: 15px;
}

#banks {
    font-weight: bold;
}

@media screen and (min-width: 500px){
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 30px;
        border-radius: 0px;
        border-top: 1px solid;
        font-family: "Comic Sans MS";
        font-size: 20px;
        max-height: 100px;
    }
}

@media screen and (max-width: 499px) {
    footer {
        visibility: hidden;
    }
}

